.message-form{
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    background-color: white;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    button {
        font-size: 22px;
        padding: .25em;
    }
    textarea::placeholder{
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        font-size: large;
    }
    textarea{
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        font-size: medium;
    }
}

.p-1em{
    padding: 1em;
}
.p-05em{
    padding: 0.5em;
}
.mt-1em{
    margin-top: 1em;
}
.mt-025em{
    margin-top: .25em;
}

.error-box{
    font-size: 0.8em;
    padding: 3px;
    text-align: center;
    background-color: rgba(255, 106, 106, 0.15);
    border: 2px solid lightcoral;
    span {
        margin-top: 3px;
    }
}